<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>To Do Web Application - Notes</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:href="@{/style.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand navbar-text text-white">To-Do List Application</a>
    <a class="navbar-brand navbar-text text-white" th:href="@{/api/index}" id="home">Home</a>
    <a sec:authorize="!isAuthenticated()" class="navoption" th:href="@{/login}">Login</a>
    <a sec:authorize="isAuthenticated()" class="navoption" th:href="@{/logout}">Logout</a>

</nav>

<div class="container">
    <h2 th:text="${'Notes for Task ID: ' + taskId}"></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notes}">
            <td th:text="${note.content}"></td>
            <td>
                <a th:href="@{/api/notes/{taskId}/edit/{noteId}(taskId=${taskId}, noteId=${note.id})}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
                <a th:href="@{/api/notes/{taskId}/remove/{noteId}(taskId=${taskId}, noteId=${note.id})}">
                    <button type="button" class="btn btn-danger">Remove</button>
                </a>

            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/api/notes/{taskId}(taskId=${taskId})}" method="post">
        <div class="form-group">
            <label for="content">Content:</label>
            <input type="text" class="form-control" id="content" name="content" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Note</button>
    </form>
</div>
</body>
</html>
